<!--<div class="mbox bebebe">-->

<!--</div>-->
<section class="second-section" id="js-about">
    <div class="about">
        <!--<div class="lateral">-->
            <!--<div class="lateral__logo">-->
                <!--<img class="lateral__img" src="../images/logo.png" alt="" width="" height="">-->
            <!--</div>-->
            <!--<div class="lateral__link-group">-->
                <!--<ul class="lateral__box">-->
                    <!--<li class="lateral__li"><a class="lateral__link js-scroll-to" href="#js-about">About us</a></li>-->
                    <!--<li class="lateral__li"><a class="lateral__link js-scroll-to" href="#js-about-us">Our people</a></li>-->
                    <!--<li class="lateral__li"><a class="lateral__link js-scroll-to" href="#mission">What we do</a></li>-->
                    <!--<li class="lateral__li"><a class="lateral__link js-scroll-to" href="#our-partners">Clients</a></li>-->
                <!--</ul>-->
            <!--</div>-->
        <!--</div>-->
        <div class="about__title-box">
            <h2 class="chapter about__title-name">About Us</h2>
            <p class="about__title-desc">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining</p>
        </div>
        <div class="about__benefits">
            <div class="benefits__item">
                <span class="benefits__img benefits__years"></span>
                <span class="benefits__number">3</span>
                <span class="benefits__text">years work</span>
            </div>
            <div class="benefits__item">
                <span class="benefits__img benefits__project"></span>
                <span class="benefits__number">527</span>
                <span class="benefits__text">Complete Project</span>
            </div>
            <div class="benefits__item">
                <span class="benefits__img benefits__clients"></span>
                <span class="benefits__number">283</span>
                <span class="benefits__text">Happy Clients</span>
            </div>
            <div class="benefits__item">
                <span class="benefits__img benefits__cup"></span>
                <span class="benefits__number">1543</span>
                <span class="benefits__text">Cup of Coffie&tea</span>
            </div>
            <div class="benefits__item">
                <span class="benefits__img benefits__awards"></span>
                <span class="benefits__number">43</span>
                <span class="benefits__text">Awards</span>
            </div>
        </div>
        <div class="team">
            <img class="team__bg" src="../images/our-team.jpg" alt="" width="" height="">
            <img class="team__img" src="../images/our-team-logo.png" alt="" width="" height="">
        </div>
        <div class="about-us" id="js-about-us">
            <span class="about-us__bg bg-word">О нас</span>
            <h3 class="about-us__name sub-chapter">О нас</h3>
            <p class="about-us__desc">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining</p>
        </div>
        <div class="key-persons">
            <span class="key-persons__bg bg-word">Ключевые</span>
            <h3 class="key-persons__name sub-chapter">Ключевые лица</h3>
            <div class="key-persons__slider js-key-persons">
                <div class="slider-box">
                    <div class="key-person">
                        <div class="key-person__img-box">
                            <img class="key-person__img" src="../images/joni.jpg" alt="" width="" height="">
                        </div>
                        <h4 class="key-person__name">Александр Александреев</h4>
                        <p class="key-person__desc">Директор по развитию клиентрсконго бизнеса</p>
                    </div>
                </div>
                <div class="slider-box">
                    <div class="key-person">
                        <div class="key-person__img-box">
                            <img class="key-person__img" src="../images/joni.jpg" alt="" width="" height="">
                        </div>
                        <h4 class="key-person__name">Александр Александреев</h4>
                        <p class="key-person__desc">Директор по развитию клиентрсконго бизнеса</p>
                    </div>
                </div>
                <div class="slider-box">
                    <div class="key-person">
                        <div class="key-person__img-box">
                            <img class="key-person__img" src="../images/joni.jpg" alt="" width="" height="">
                        </div>
                        <h4 class="key-person__name">Александр Александреев</h4>
                        <p class="key-person__desc">Директор по развитию клиентрсконго бизнеса</p>
                    </div>
                </div>
                <div class="slider-box">
                    <div class="key-person">
                        <div class="key-person__img-box">
                            <img class="key-person__img" src="../images/joni.jpg" alt="" width="" height="">
                        </div>
                        <h4 class="key-person__name">Александр Александреев</h4>
                        <p class="key-person__desc">Директор по развитию клиентрсконго бизнеса</p>
                    </div>
                </div>
                <div class="slider-box">
                    <div class="key-person">
                        <div class="key-person__img-box">
                            <img class="key-person__img" src="../images/joni.jpg" alt="" width="" height="">
                        </div>
                        <h4 class="key-person__name">Александр Александреев</h4>
                        <p class="key-person__desc">Директор по развитию клиентрсконго бизнеса</p>
                    </div>
                </div>
                <div class="slider-box">
                    <div class="key-person">
                        <div class="key-person__img-box">
                            <img class="key-person__img" src="../images/joni.jpg" alt="" width="" height="">
                        </div>
                        <h4 class="key-person__name">Александр Александреев</h4>
                        <p class="key-person__desc">Директор по развитию клиентрсконго бизнеса</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="mission" id="mission">
            <span class="mission__bg bg-word">миссия</span>
            <h3 class="mission__name sub-chapter">Наша миссия</h3>
            <div class="mission__box">
                <div class="mission-item">
                    <span class="mission-item__img mission-item__img--power"></span>
                    <h4 class="mission-item__name">Видение (цель):</h4>
                    <p class="mission-item__desc">Запускать стартапы только мирового класса.</p>
                </div>
                <div class="mission-item">
                    <span class="mission-item__img mission-item__img--rocket"></span>
                    <h4 class="mission-item__name">Замысел (миссия):</h4>
                    <p class="mission-item__desc">Мы технологичная компания, которая помогает строить и выводить на рынок стартапы, а также развивать бизнес клиентов путем внедрения в них IT-инноваций.</p>
                </div>
                <div class="mission-item">
                    <span class="mission-item__img mission-item__img--puzzle"></span>
                    <h4 class="mission-item__name">Социальная миссия</h4>
                    <p class="mission-item__desc">Сформировать интеллектуальный средний класс и имидж Украины как мирового технологического центра.</p>
                </div>
                <div class="mission-item">
                    <span class="mission-item__img mission-item__img--cube"></span>
                    <h4 class="mission-item__name">Сильные стороны</h4>
                    <p class="mission-item__desc">Стартапы и программные продукты для бизнеса на глобальной арене.</p>
                </div>
                <div class="mission-item">
                    <span class="mission-item__img mission-item__img--box"></span>
                    <h4 class="mission-item__name">Социальная миссия</h4>
                    <p class="mission-item__desc">Техническая экспертиза, сильный менеджмент и дополнительные сервисы в виде маркетинга, нишевых консультантов, выходов на инвесторов и тд.</p>
                </div>
            </div>
        </div>
        <div class="values">
            <span class="values__bg bg-word">ценности</span>
            <h3 class="values__name sub-chapter">Наши ценности</h3>
            <div class="values__box">
                <div class="values-item">
                    <span class="values-item__img values-item__img--clients"></span>
                    <h4 class="values-item__name">Клиенты прежде всего</h4>
                </div>
                <div class="values-item">
                    <span class="values-item__img values-item__img--team"></span>
                    <h4 class="values-item__name">Продукт делают люди</h4>
                </div>
                <div class="values-item">
                    <span class="values-item__img values-item__img--brain"></span>
                    <h4 class="values-item__name">Технологичность</h4>
                </div>
                <div class="values-item">
                    <span class="values-item__img values-item__img--idea"></span>
                    <h4 class="values-item__name">Дух предпринима<wbr>тельства</h4>
                </div>
                <div class="values-item">
                    <span class="values-item__img values-item__img--rising"></span>
                    <h4 class="values-item__name">Кайдзен</h4>
                </div>
                <div class="values-item">
                    <span class="values-item__img values-item__img--idea-brain"></span>
                    <h4 class="values-item__name">Будущее за умными людьми и интеллектуальным бизнесом</h4>
                </div>
            </div>
        </div>
        <div class="world-map">
            <span class="world-map__bg bg-word">28 стран</span>
            <h3 class="world-map__name sub-chapter">Работаем с клиентами из 28 стран мира</h3>
            <div class="world-map__box">
                <img class="world-map__img" src="../images/world-map.png" alt="" width="" height="">
            </div>
        </div>
        <div class="feedback">
            <h3 class="feedback__name sub-chapter">Форма обратной связи</h3>
            <div class="feedback__box">
                <form action="#" class="feedback-form">
                    <div class="feedback-form__box">
                        <input name="name" type="text" required class="feedback-input" placeholder="Имя">
                        <input name="email" type="email" required class="feedback-input" placeholder="Email">
                        <input name="email" type="tel" required class="feedback-input" placeholder="Телефон">
                    </div>
                    <textarea name="text" class="feedback-textarea" placeholder="Сообщение"></textarea>
                    <input type="submit" class="feedback-submit" value="Отправить">
                </form>
            </div>
        </div>
        <div class="our-partners" id="our-partners">
            <span class="our-partners__bg bg-word">партнёры</span>
            <h3 class="our-partners__name sub-chapter">Наши партнёры</h3>
            <div class="our-partners__box">
                <a class="our-partners__link" href="#" target="_blank">
                    <img class="our-partners__img" src="../images/MasterCard.png" alt="" width="" height="">
                </a>
                <a class="our-partners__link" href="#" target="_blank">
                    <img class="our-partners__img" src="../images/levis.png" alt="" width="" height="">
                </a>
                <a class="our-partners__link" href="#" target="_blank">
                    <img class="our-partners__img" src="../images/MasterCard.png" alt="" width="" height="">
                </a>
                <a class="our-partners__link" href="#" target="_blank">
                    <img class="our-partners__img" src="../images/levis.png" alt="" width="" height="">
                </a>
                <a class="our-partners__link" href="#" target="_blank">
                    <img class="our-partners__img" src="../images/MasterCard.png" alt="" width="" height="">
                </a>
                <a class="our-partners__link" href="#" target="_blank">
                    <img class="our-partners__img" src="../images/levis.png" alt="" width="" height="">
                </a>
                <a class="our-partners__link" href="#" target="_blank">
                    <img class="our-partners__img" src="../images/MasterCard.png" alt="" width="" height="">
                </a>
                <a class="our-partners__link" href="#" target="_blank">
                    <img class="our-partners__img" src="../images/levis.png" alt="" width="" height="">
                </a>
            </div>
        </div>
    </div>
</section>