<!--<div class="mbox">-->

<!--</div>-->
<section class="fourth-section">
    <div class="blog">
        <!--<div class="lateral">-->
            <!--<div class="lateral__logo">-->
                <!--<img class="lateral__img" src="../images/logo.png" alt="" width="" height="">-->
            <!--</div>-->
            <!--<div class="lateral__link-group">-->
                <!--<ul class="lateral__box">-->
                    <!--<li class="lateral__li"><a class="lateral__link" href="#" target="_blank">All Posts</a></li>-->
                    <!--<li class="lateral__li"><a class="lateral__link" href="#" target="_blank">Design</a></li>-->
                    <!--<li class="lateral__li"><a class="lateral__link" href="#" target="_blank">Lifestyle</a></li>-->
                    <!--<li class="lateral__li"><a class="lateral__link" href="#" target="_blank">Style</a></li>-->
                    <!--<li class="lateral__li"><a class="lateral__link" href="#" target="_blank">Travel</a></li>-->
                <!--</ul>-->
            <!--</div>-->
        <!--</div>-->
        <div class="blog__title-box">
            <h2 class="chapter blog__title-name">Blog</h2>
        </div>
        <div class="blog__content">
            <div class="blog__gallery-box">
                <div class="blog__gallery-sub-box">
                    <div class="blog__gallery">
                        <div class="post">
                            <div class="post__img">
                                <img src="../images/blog-item-1.jpg" alt="" width="" height="">
                            </div>
                            <div class="post__text">
                                <span class="post__type">Lifestyle</span>
                                <a class="post__name-box" href="blog-view.html">
                                    <h4 class="post__name">Nothing Is Promised</h4>
                                </a>
                                <span class="post__date">September 30, 2016</span>
                                <p class="post__desc">Mauris rutrum fermentum sapien id tempus. Integer tristique nisi rhoncus nisl placerat aliquam quis volutpat mauris. Cras blandit vitae mi vel convallis. Nulla id vulputate mi, ut cursus odio. Nunc...</p>
                                <div class="post__social">
                                    <div class="post__social-box">
                                        <a href="#" class="post__social-item">
                                            <svg class="post__social-img">
                                                <use xlink:href="#blog-facebook"></use>
                                            </svg>
                                        </a>
                                        <a href="#" class="post__social-item">
                                            <svg class="post__social-img">
                                                <use xlink:href="#blog-twitter"></use>
                                            </svg>
                                        </a>
                                        <a href="#" class="post__social-item">
                                            <svg class="post__social-img">
                                                <use xlink:href="#blog-p"></use>
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="post">
                            <div class="post__img">
                                <img src="../images/blog-item-2.jpg" alt="" width="" height="">
                            </div>
                            <div class="post__text">
                                <span class="post__type">Lifestyle</span>
                                <a class="post__name-box" href="blog-view.html">
                                    <h4 class="post__name">Nothing Is Promised</h4>
                                </a>
                                <span class="post__date">September 30, 2016</span>
                                <p class="post__desc">Mauris rutrum fermentum sapien id tempus. Integer tristique nisi rhoncus nisl placerat aliquam quis volutpat mauris. Cras blandit vitae mi vel convallis. Nulla id vulputate mi, ut cursus odio. Nunc...</p>
                                <div class="post__social">
                                    <div class="post__social-box">
                                        <a href="#" class="post__social-item">
                                            <svg class="post__social-img">
                                                <use xlink:href="#blog-facebook"></use>
                                            </svg>
                                        </a>
                                        <a href="#" class="post__social-item">
                                            <svg class="post__social-img">
                                                <use xlink:href="#blog-twitter"></use>
                                            </svg>
                                        </a>
                                        <a href="#" class="post__social-item">
                                            <svg class="post__social-img">
                                                <use xlink:href="#blog-p"></use>
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="post">
                            <div class="post__img">
                                <img src="../images/blog-item-3.jpg" alt="" width="" height="">
                            </div>
                            <div class="post__text">
                                <span class="post__type">Lifestyle</span>
                                <a class="post__name-box" href="blog-view.html">
                                    <h4 class="post__name">Nothing Is Promised</h4>
                                </a>
                                <span class="post__date">September 30, 2016</span>
                                <p class="post__desc">Mauris rutrum fermentum sapien id tempus. Integer tristique nisi rhoncus nisl placerat aliquam quis volutpat mauris. Cras blandit vitae mi vel convallis. Nulla id vulputate mi, ut cursus odio. Nunc...</p>
                                <div class="post__social">
                                    <div class="post__social-box">
                                        <a href="#" class="post__social-item">
                                            <svg class="post__social-img">
                                                <use xlink:href="#blog-facebook"></use>
                                            </svg>
                                        </a>
                                        <a href="#" class="post__social-item">
                                            <svg class="post__social-img">
                                                <use xlink:href="#blog-twitter"></use>
                                            </svg>
                                        </a>
                                        <a href="#" class="post__social-item">
                                            <svg class="post__social-img">
                                                <use xlink:href="#blog-p"></use>
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="post">
                            <div class="post__img">
                                <img src="../images/blog-item-4.jpg" alt="" width="" height="">
                            </div>
                            <div class="post__text">
                                <span class="post__type">Lifestyle</span>
                                <a class="post__name-box" href="blog-view.html">
                                    <h4 class="post__name">Nothing Is Promised</h4>
                                </a>
                                <span class="post__date">September 30, 2016</span>
                                <p class="post__desc">Mauris rutrum fermentum sapien id tempus. Integer tristique nisi rhoncus nisl placerat aliquam quis volutpat mauris. Cras blandit vitae mi vel convallis. Nulla id vulputate mi, ut cursus odio. Nunc...</p>
                                <div class="post__social">
                                    <div class="post__social-box">
                                        <a href="#" class="post__social-item">
                                            <svg class="post__social-img">
                                                <use xlink:href="#blog-facebook"></use>
                                            </svg>
                                        </a>
                                        <a href="#" class="post__social-item">
                                            <svg class="post__social-img">
                                                <use xlink:href="#blog-twitter"></use>
                                            </svg>
                                        </a>
                                        <a href="#" class="post__social-item">
                                            <svg class="post__social-img">
                                                <use xlink:href="#blog-p"></use>
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="post">
                            <div class="post__img">
                                <img src="../images/blog-item-5.jpg" alt="" width="" height="">
                            </div>
                            <div class="post__text">
                                <span class="post__type">Lifestyle</span>
                                <a class="post__name-box" href="blog-view.html">
                                    <h4 class="post__name">Nothing Is Promised</h4>
                                </a>
                                <span class="post__date">September 30, 2016</span>
                                <p class="post__desc">Mauris rutrum fermentum sapien id tempus. Integer tristique nisi rhoncus nisl placerat aliquam quis volutpat mauris. Cras blandit vitae mi vel convallis. Nulla id vulputate mi, ut cursus odio. Nunc...</p>
                                <div class="post__social">
                                    <div class="post__social-box">
                                        <a href="#" class="post__social-item">
                                            <svg class="post__social-img">
                                                <use xlink:href="#blog-facebook"></use>
                                            </svg>
                                        </a>
                                        <a href="#" class="post__social-item">
                                            <svg class="post__social-img">
                                                <use xlink:href="#blog-twitter"></use>
                                            </svg>
                                        </a>
                                        <a href="#" class="post__social-item">
                                            <svg class="post__social-img">
                                                <use xlink:href="#blog-p"></use>
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="post">
                            <div class="post__img">
                                <img src="../images/blog-item-6.jpg" alt="" width="" height="">
                            </div>
                            <div class="post__text">
                                <span class="post__type">Lifestyle</span>
                                <a class="post__name-box" href="blog-view.html">
                                    <h4 class="post__name">Nothing Is Promised</h4>
                                </a>
                                <span class="post__date">September 30, 2016</span>
                                <p class="post__desc">Mauris rutrum fermentum sapien id tempus. Integer tristique nisi rhoncus nisl placerat aliquam quis volutpat mauris. Cras blandit vitae mi vel convallis. Nulla id vulputate mi, ut cursus odio. Nunc...</p>
                                <div class="post__social">
                                    <div class="post__social-box">
                                        <a href="#" class="post__social-item">
                                            <svg class="post__social-img">
                                                <use xlink:href="#blog-facebook"></use>
                                            </svg>
                                        </a>
                                        <a href="#" class="post__social-item">
                                            <svg class="post__social-img">
                                                <use xlink:href="#blog-twitter"></use>
                                            </svg>
                                        </a>
                                        <a href="#" class="post__social-item">
                                            <svg class="post__social-img">
                                                <use xlink:href="#blog-p"></use>
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="load-more btn" href="#">Load more</a>
                </div>
            </div>
            <div class="subscribe-box">
                <form class="subscribe-min">
                    <h5 class="subscribe-min__head">Subscribe to get the best</h5>
                    <input class="subscribe-min__input" type="email" placeholder="Enter Your Email Address" required>
                    <input class="subscribe-min__input subscribe-min__submit" type="submit" value="Subscribe">
                </form>
                <div class="insta-widget">
                    <h4 class="subscribe-box__sub-name insta-widget__name">Instagram</h4>
                    <div class="insta-widget__box">
                        <!-- InstaWidget -->
                        <a href="https://instawidget.net/v/user/design_factory_web_rock" id="link-8688ce094872d45f9ef58b47b740f44302ccfb6456a5797ff1784aedad21f142">@design_factory_web_rock</a>
                        <script src="https://instawidget.net/js/instawidget.js?u=8688ce094872d45f9ef58b47b740f44302ccfb6456a5797ff1784aedad21f142&width=265px"></script>
                    </div>
                </div>
                <div class="follow">
                    <h4 class="subscribe-box__sub-name">Follow Me</h4>
                    <div class="follow-links">
                        <a class="follow-links__link" href="#" target="_blank">
                            <svg class="" width="18" height="26">
                                <use xlink:href="#behance"></use>
                            </svg>
                        </a>
                        <a class="follow-links__link" href="#" target="_blank">
                            <svg class="" width="18" height="24">
                                <use xlink:href="#facebook"></use>
                            </svg>
                        </a>
                        <a class="follow-links__link" href="#" target="_blank">
                            <svg class="" width="18" height="18">
                                <use xlink:href="#insta"></use>
                            </svg>
                        </a>
                        <a class="follow-links__link" href="#" target="_blank">
                            <svg class="" width="22" height="20">
                                <use xlink:href="#youtube"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="follow-slider">
                        <div class="follow-slider__box">
                            <a class="follow-slider__link" href="#">
                                <img class="follow-slider__img" src="../images/blog-slider.jpg" alt="" width="" height="">
                            </a>
                        </div>
                        <div class="follow-slider__box">
                            <a class="follow-slider__link" href="#">
                                <img class="follow-slider__img" src="../images/blog-slider.jpg" alt="" width="" height="">
                            </a>
                        </div>
                        <div class="follow-slider__box">
                            <a class="follow-slider__link" href="#">
                                <img class="follow-slider__img" src="../images/blog-slider.jpg" alt="" width="" height="">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="pop-posts">
                    <h4 class="subscribe-box__sub-name">Popular posts</h4>
                    <div class="pop-posts__box">
                        <a class="pop-posts__item" href="#">
                            <img  class="pop-posts__img" src="../images/blog-popular.jpg" alt="" width="" height="">
                            <div class="pop-posts__text-box">
                                <h5 class="pop-posts__name">magical time</h5>
                                <p class="pop-posts__date">September 30, 2016</p>
                            </div>
                        </a>
                        <a class="pop-posts__item" href="#">
                            <img  class="pop-posts__img" src="../images/blog-popular.jpg" alt="" width="" height="">
                            <div class="pop-posts__text-box">
                                <h5 class="pop-posts__name">magical time</h5>
                                <p class="pop-posts__date">September 30, 2016</p>
                            </div>
                        </a>
                        <a class="pop-posts__item" href="#">
                            <img  class="pop-posts__img" src="../images/blog-popular.jpg" alt="" width="" height="">
                            <div class="pop-posts__text-box">
                                <h5 class="pop-posts__name">magical time</h5>
                                <p class="pop-posts__date">September 30, 2016</p>
                            </div>
                        </a>
                        <a class="pop-posts__item" href="#">
                            <img  class="pop-posts__img" src="../images/blog-popular.jpg" alt="" width="" height="">
                            <div class="pop-posts__text-box">
                                <h5 class="pop-posts__name">magical time</h5>
                                <p class="pop-posts__date">September 30, 2016</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>