<header class="header">
    <!-- BUTTON MENU -->
    <a class="u-nav">
        <span class="u-nav__line"></span>
        <span class="u-nav__line"></span>
        <span class="u-nav__line"></span>
    </a>
    <!-- /BUTTON MENU -->
    <div class="header__btn-box">
        <a class="tel header__tel" href="tel:+380673832303">+380 67 383 23 03</a>
        <a class="btn header__btn" href="#">Call me</a>
    </div>
</header>
<!-- NAVIGATION -->
<nav class="u-nav-container nav">
    <div class="nav__top"></div>
    <div class="nav__menu-box">
        <menu class="menu">
            <li class="menu__item menu__item--upper">
                <a class="menu__link" href="#">
                    <span>about us</span>
                    <svg class="menu__item--icon" width="6" height="6">
                        <use xlink:href="#arrow-right"></use>
                    </svg>
                </a>
            </li>
            <li class="menu__item menu__item--upper">
                <a class="menu__link" href="#">
                    <span>Portfolio</span>
                    <svg class="menu__item--icon" width="6" height="6">
                        <use xlink:href="#arrow-right"></use>
                    </svg>
                </a>
            </li>
            <li class="menu__item menu__item--upper">
                <a class="menu__link" href="#">
                    <span>blog</span>
                    <svg class="menu__item--icon" width="6" height="6">
                        <use xlink:href="#arrow-right"></use>
                    </svg>
                </a>
            </li>
            <li class="menu__item menu__item--upper">
                <a class="menu__link" href="#">
                    <span>Contacts</span>
                    <svg class="menu__item--icon" width="6" height="6">
                        <use xlink:href="#arrow-right"></use>
                    </svg>
                </a>
            </li>
        </menu>
    </div>
    <div class="nav__social">
        <ul class="menu">
            <li class="menu__item">
                <a class="menu__link" href="#" target="_blank">
                    <span>Behance</span>
                    <svg class="menu__item--icon" width="18" height="26">
                        <use xlink:href="#behance"></use>
                    </svg>
                </a>
            </li>
            <li class="menu__item">
                <a class="menu__link" href="#" target="_blank">
                    <span>Instagram</span>
                    <svg class="menu__item--icon" width="20" height="20">
                        <use xlink:href="#insta"></use>
                    </svg>
                </a>
            </li>
            <li class="menu__item">
                <a class="menu__link" href="#" target="_blank">
                    <span>Facebook</span>
                    <svg class="menu__item--icon" width="20" height="32">
                        <use xlink:href="#facebook"></use>
                    </svg>
                </a>
            </li>
            <li class="menu__item">
                <a class="menu__link" href="#" target="_blank">
                    <span>Youtube</span>
                    <svg class="menu__item--icon" width="22" height="20">
                        <use xlink:href="#youtube"></use>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
    <div class="nav__contacts">
        <ul class="menu">
            <li class="menu__item">
                <a class="menu__link" href="#">
                    <span>info@web-rock.com.ua</span>
                    <div class="menu__item--wrap-icon">
                        <svg class="menu__item--icon" width="22" height="16">
                            <use xlink:href="#email"></use>
                        </svg>
                        <svg class="menu__item--icon" width="22" height="16">
                            <use xlink:href="#skype"></use>
                        </svg>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</nav>
<!-- /NAVIGATION -->

<div class="links-group">
    <a class="links-group__link" href="#" target="_blank">
        <svg class="" width="20" height="20">
            <use  xlink:href="#behance"></use>
        </svg>
    </a>
    <a class="links-group__link" href="#" target="_blank">
        <svg class="" width="20" height="20">
            <use xlink:href="#facebook"></use>
        </svg>
    </a>
    <a class="links-group__link" href="#" target="_blank">
        <svg class="" width="20" height="20">
            <use xlink:href="#insta"></use>
        </svg>
    </a>
    <a class="links-group__link" href="#" target="_blank">
        <svg class="" width="20" height="20">
            <use xlink:href="#youtube"></use>
        </svg>
    </a>
</div>
<div class="lang">
    <a class="lang__link lang__active" href="#">EN</a>
    <a class="lang__link" href="#">RU</a>
</div>

<section class="main-page" id="introduce">
    <div class="main-page__content">
        <a class="logo" href="#">
            <img src="../images/logo.png" alt="logo" width="" height="">
        </a>
        <div class="write-text-box">
            <div id="write-text" class="write-text">Design changes everything</div>
        </div>
        <a class="btn main-page__btn" href="#">Hire Us</a>
        <div id="scroll" class="scroll__firstscreen">
            <img class="arrow-bounce" src="../images/arrow-down.png" alt="" width="17" height="25">
        </div>
    </div>
</section>


<div class="anchors">
    <a class="anchors__link js-scroll-anchor js-scroll-to" href="#introduce">
        <div class="anchors__box active">
            <div class="anchors__sub-box">
                <div class="anchors__name-box">
                    <span class="anchors__name">Introduce</span>
                </div>
                <span class="anchors__number">01</span>
            </div>
        </div>
    </a>
    <a class="anchors__link js-scroll-anchor js-scroll-to" href="#js-about">
        <div class="anchors__box active">
            <div class="anchors__sub-box">
                <div class="anchors__name-box">
                    <span class="anchors__name">About us</span>
                </div>
                <span class="anchors__number">02</span>
            </div>
        </div>
    </a>
</div>





<!--<div class="anchors-box">-->
    <!--<ul class="anchors-box__ul">-->
        <!--<li class="anchors-box__li">-->
            <!--<a class="anchor js-scroll-to" href="#introduce">-->
                <!--<div class="anchor__body">-->
                    <!--<div class="anchor__name-box">-->
                        <!--<span class="anchor__name">Introduce</span>-->
                    <!--</div>-->
                    <!--<span class="anchor__number">01</span>-->
                <!--</div>-->
            <!--</a>-->
        <!--</li>-->
        <!--<li class="anchors-box__li">-->
            <!--<a class="anchor js-scroll-to" href="#introduce">-->
                <!--<div class="anchor__body">-->
                    <!--<div class="anchor__name-box">-->
                        <!--<span class="anchor__name">Introduce</span>-->
                    <!--</div>-->
                    <!--<span class="anchor__number">01</span>-->
                <!--</div>-->
            <!--</a>-->
        <!--</li>-->
    <!--</ul>-->
<!--</div>-->