<div class="lateral invisible">
    <div class="lateral__logo">
        <img class="lateral__img" src="../images/logo.png" alt="" width="" height="">
    </div>
    <div class="lateral__link-group">
        <ul class="lateral__box lateral-about invisible">
            <li class="lateral__li"><a class="lateral__link js-scroll-to" href="#js-about">About us</a></li>
            <li class="lateral__li"><a class="lateral__link js-scroll-to" href="#js-about-us">Our people</a></li>
            <li class="lateral__li"><a class="lateral__link js-scroll-to" href="#mission">What we do</a></li>
            <li class="lateral__li"><a class="lateral__link js-scroll-to" href="#our-partners">Clients</a></li>
        </ul>
        <ul class="lateral__box lateral-portfolio invisible">
            <li class="lateral__li"><a class="lateral__link" href="#" target="_blank">All Works</a></li>
            <li class="lateral__li"><a class="lateral__link" href="#" target="_blank">Web-Design</a></li>
            <li class="lateral__li"><a class="lateral__link" href="#" target="_blank">Logotype</a></li>
            <li class="lateral__li"><a class="lateral__link" href="#" target="_blank">Typography</a></li>
            <li class="lateral__li"><a class="lateral__link" href="#" target="_blank">Branding</a></li>
        </ul>
        <ul class="lateral__box lateral-blog invisible">
            <li class="lateral__li"><a class="lateral__link" href="#" target="_blank">All Posts</a></li>
            <li class="lateral__li"><a class="lateral__link" href="#" target="_blank">Design</a></li>
            <li class="lateral__li"><a class="lateral__link" href="#" target="_blank">Lifestyle</a></li>
            <li class="lateral__li"><a class="lateral__link" href="#" target="_blank">Style</a></li>
            <li class="lateral__li"><a class="lateral__link" href="#" target="_blank">Travel</a></li>
        </ul>
    </div>
</div>