<!--<div class="mbox">-->

<!--</div>-->
<section class="third-section">
    <div class="portfolio">
        <!--<div class="lateral">-->
            <!--<div class="lateral__logo">-->
                <!--<img class="lateral__img" src="../images/logo.png" alt="" width="" height="">-->
            <!--</div>-->
            <!--<div class="lateral__link-group">-->
                <!--<ul class="lateral__box">-->
                    <!--<li class="lateral__li"><a class="lateral__link" href="#" target="_blank">All Works</a></li>-->
                    <!--<li class="lateral__li"><a class="lateral__link" href="#" target="_blank">Web-Design</a></li>-->
                    <!--<li class="lateral__li"><a class="lateral__link" href="#" target="_blank">Logotype</a></li>-->
                    <!--<li class="lateral__li"><a class="lateral__link" href="#" target="_blank">Typography</a></li>-->
                    <!--<li class="lateral__li"><a class="lateral__link" href="#" target="_blank">Branding</a></li>-->
                <!--</ul>-->
            <!--</div>-->
        <!--</div>-->
        <div class="portfolio__title-box">
            <h2 class="chapter portfolio__title-name">Portfolio</h2>
            <p class="portfolio__title-desc">Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition.</p>
        </div>
        <div class="portfolio__box">
            <a class="gallery" href="../portfolio-view.html">
                <div class="gallery__box">
                    <img class="gallery__img" src="../images/portfolio-item-1.jpg" alt="" width="" height="">
                    <div class="gallery__hover">
                        <div class="gallery__hover-box">
                            <h5 class="gallery__name">Kutchenette</h5>
                            <p class="gallery__desc">Design Homepage and Timeline for blog Kutchenette</p>
                        </div>
                    </div>
                </div>
            </a>
            <a class="gallery" href="../portfolio-view.html">
                <div class="gallery__box">
                    <img class="gallery__img" src="../images/portfolio-item-2.jpg" alt="" width="" height="">
                    <div class="gallery__hover">
                        <div class="gallery__hover-box">
                            <h5 class="gallery__name">Kutchenette</h5>
                            <p class="gallery__desc">Design Homepage and Timeline for blog Kutchenette</p>
                        </div>
                    </div>
                </div>
            </a>
            <a class="gallery" href="../portfolio-view.html">
                <div class="gallery__box">
                    <img class="gallery__img" src="../images/portfolio-item-3.jpg" alt="" width="" height="">
                    <div class="gallery__hover">
                        <div class="gallery__hover-box">
                            <h5 class="gallery__name">Kutchenette</h5>
                            <p class="gallery__desc">Design Homepage and Timeline for blog Kutchenette</p>
                        </div>
                    </div>
                </div>
            </a>
            <a class="gallery" href="../portfolio-view.html">
                <div class="gallery__box">
                    <img class="gallery__img" src="../images/portfolio-item-4.jpg" alt="" width="" height="">
                    <div class="gallery__hover">
                        <div class="gallery__hover-box">
                            <h5 class="gallery__name">Kutchenette</h5>
                            <p class="gallery__desc">Design Homepage and Timeline for blog Kutchenette</p>
                        </div>
                    </div>
                </div>
            </a>
            <a class="gallery" href="../portfolio-view.html">
                <div class="gallery__box">
                    <img class="gallery__img" src="../images/portfolio-item-5.jpg" alt="" width="" height="">
                    <div class="gallery__hover">
                        <div class="gallery__hover-box">
                            <h5 class="gallery__name">Kutchenette</h5>
                            <p class="gallery__desc">Design Homepage and Timeline for blog Kutchenette</p>
                        </div>
                    </div>
                </div>
            </a>
            <a class="gallery" href="../portfolio-view.html">
                <div class="gallery__box">
                    <img class="gallery__img" src="../images/portfolio-item-6.jpg" alt="" width="" height="">
                    <div class="gallery__hover">
                        <div class="gallery__hover-box">
                            <h5 class="gallery__name">Kutchenette</h5>
                            <p class="gallery__desc">Design Homepage and Timeline for blog Kutchenette</p>
                        </div>
                    </div>
                </div>
            </a>
            <a class="gallery" href="../portfolio-view.html">
                <div class="gallery__box">
                    <img class="gallery__img" src="../images/portfolio-item-7.jpg" alt="" width="" height="">
                    <div class="gallery__hover">
                        <div class="gallery__hover-box">
                            <h5 class="gallery__name">Kutchenette</h5>
                            <p class="gallery__desc">Design Homepage and Timeline for blog Kutchenette</p>
                        </div>
                    </div>
                </div>
            </a>
            <a class="gallery" href="../portfolio-view.html">
                <div class="gallery__box">
                    <img class="gallery__img" src="../images/portfolio-item-8.jpg" alt="" width="" height="">
                    <div class="gallery__hover">
                        <div class="gallery__hover-box">
                            <h5 class="gallery__name">Kutchenette</h5>
                            <p class="gallery__desc">Design Homepage and Timeline for blog Kutchenette</p>
                        </div>
                    </div>
                </div>
            </a>
            <a class="gallery" href="../portfolio-view.html">
                <div class="gallery__box">
                    <img class="gallery__img" src="../images/portfolio-item-9.jpg" alt="" width="" height="">
                    <div class="gallery__hover">
                        <div class="gallery__hover-box">
                            <h5 class="gallery__name">Kutchenette</h5>
                            <p class="gallery__desc">Design Homepage and Timeline for blog Kutchenette</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>