<section class="third-section m-padding">
    <div class="portfolio">
        <div class="portfolio__title-box">
            <h2 class="chapter portfolio__title-name">Portfolio</h2>
            <p class="portfolio__title-desc">Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition.</p>
        </div>
        <div class="portfolio__box">
            <a class="gallery" href="../portfolio-view.html">
                <div class="gallery__box">
                    <img class="gallery__img" src="../images/portfolio-item-1.jpg" alt="" width="" height="">
                    <div class="gallery__hover">
                        <div class="gallery__hover-box">
                            <h5 class="gallery__name">Kutchenette</h5>
                            <p class="gallery__desc">Design Homepage and Timeline for blog Kutchenette</p>
                        </div>
                    </div>
                </div>
            </a>
            <a class="gallery" href="../portfolio-view.html">
                <div class="gallery__box">
                    <img class="gallery__img" src="../images/portfolio-item-2.jpg" alt="" width="" height="">
                    <div class="gallery__hover">
                        <div class="gallery__hover-box">
                            <h5 class="gallery__name">Kutchenette</h5>
                            <p class="gallery__desc">Design Homepage and Timeline for blog Kutchenette</p>
                        </div>
                    </div>
                </div>
            </a>
            <a class="gallery" href="../portfolio-view.html">
                <div class="gallery__box">
                    <img class="gallery__img" src="../images/portfolio-item-3.jpg" alt="" width="" height="">
                    <div class="gallery__hover">
                        <div class="gallery__hover-box">
                            <h5 class="gallery__name">Kutchenette</h5>
                            <p class="gallery__desc">Design Homepage and Timeline for blog Kutchenette</p>
                        </div>
                    </div>
                </div>
            </a>
            <a class="gallery" href="../portfolio-view.html">
                <div class="gallery__box">
                    <img class="gallery__img" src="../images/portfolio-item-4.jpg" alt="" width="" height="">
                    <div class="gallery__hover">
                        <div class="gallery__hover-box">
                            <h5 class="gallery__name">Kutchenette</h5>
                            <p class="gallery__desc">Design Homepage and Timeline for blog Kutchenette</p>
                        </div>
                    </div>
                </div>
            </a>
            <a class="gallery" href="../portfolio-view.html">
                <div class="gallery__box">
                    <img class="gallery__img" src="../images/portfolio-item-5.jpg" alt="" width="" height="">
                    <div class="gallery__hover">
                        <div class="gallery__hover-box">
                            <h5 class="gallery__name">Kutchenette</h5>
                            <p class="gallery__desc">Design Homepage and Timeline for blog Kutchenette</p>
                        </div>
                    </div>
                </div>
            </a>
            <a class="gallery" href="../portfolio-view.html">
                <div class="gallery__box">
                    <img class="gallery__img" src="../images/portfolio-item-6.jpg" alt="" width="" height="">
                    <div class="gallery__hover">
                        <div class="gallery__hover-box">
                            <h5 class="gallery__name">Kutchenette</h5>
                            <p class="gallery__desc">Design Homepage and Timeline for blog Kutchenette</p>
                        </div>
                    </div>
                </div>
            </a>
            <a class="gallery" href="../portfolio-view.html">
                <div class="gallery__box">
                    <img class="gallery__img" src="../images/portfolio-item-7.jpg" alt="" width="" height="">
                    <div class="gallery__hover">
                        <div class="gallery__hover-box">
                            <h5 class="gallery__name">Kutchenette</h5>
                            <p class="gallery__desc">Design Homepage and Timeline for blog Kutchenette</p>
                        </div>
                    </div>
                </div>
            </a>
            <a class="gallery" href="../portfolio-view.html">
                <div class="gallery__box">
                    <img class="gallery__img" src="../images/portfolio-item-8.jpg" alt="" width="" height="">
                    <div class="gallery__hover">
                        <div class="gallery__hover-box">
                            <h5 class="gallery__name">Kutchenette</h5>
                            <p class="gallery__desc">Design Homepage and Timeline for blog Kutchenette</p>
                        </div>
                    </div>
                </div>
            </a>
            <a class="gallery" href="../portfolio-view.html">
                <div class="gallery__box">
                    <img class="gallery__img" src="../images/portfolio-item-9.jpg" alt="" width="" height="">
                    <div class="gallery__hover">
                        <div class="gallery__hover-box">
                            <h5 class="gallery__name">Kutchenette</h5>
                            <p class="gallery__desc">Design Homepage and Timeline for blog Kutchenette</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>